version: '3.8'

services:
  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    user: root
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
    ports:
      - "4040:4040"  # ngrok web UI
    network_mode: host  # 使用主机网络访问本地服务
