[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
optimizer = true
optimizer_runs = 50  # 最小化合约部署大小（针对 ScoreTemplate_V2）
evm_version = 'cancun'
via_ir = true
fs_permissions = [
    { access = "read-write", path = "./deployments" }
]

remappings = [
    '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/',
    '@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/',
    'forge-std/=lib/forge-std/src/'
]

# 排除不需要编译的文件
exclude = [
    'lib/openzeppelin-contracts/certora/**/*',
    'lib/openzeppelin-contracts-upgradeable/certora/**/*'
]

# Coverage configuration
[profile.default.coverage]
exclude = [
    'lib/openzeppelin-contracts/certora/**/*',
    'lib/openzeppelin-contracts-upgradeable/certora/**/*'
]
